<div id="giphyCreate">
<smallHeader></smallHeader>
    <div class="containerCreate">
        <div>
            <div  class="centered">
                <h1 style="margin-right: 0.5vw">GIPHY</h1>
                <h3>CREATE</h3>
            </div>
            <p class="containerText">Create GIFs and backdrops and decorate them
                with captions,
                filters, stickers, and more.</p>
        </div>
        <div style="display: flex; justify-content: space-around;">
            <div class="card">
                <h3 class="p1">GIF</h3>
                <p>Accepted formats: JPG, PNG, GIF, MP4, MOV, or WebM.</p>
                <button class="cardButton">Choose File</button>
            </div>
            <div class="card">
                <h3 class="p1">Sticker</h3>
                <p>Accepted formats: JPG or also PNG </p>
                <button class="cardButton">Choose File</button>
            </div>
            <div class="card">
                <h3 class="p1">Backdrop</h3>
                <p>Spice up your video calls with our virtual background tool.</p>
                <button class="cardButton">Choose File</button>
            </div>
        </div>
        <div class="cardInputContainer">
            <div class="cardInput">
                <h3>Any URL</h3>
                <p>We support media URLs from GIPHY, YouTube, Vimeo, & many others!</p>
                <input class="w100" type="text" placeholder="Enter any media or GIF URL">
            </div>
        </div>
        <div class="containerPolicy">
            <a href="#">Community Guidelines</a>
            <a href="#">Privacy Policy</a>
        </div>
    </div>
</div>