<div id="giphyUpload">
   <smallHeader></smallHeader>
    <div class="containerUpload">
        <div>
            <div class="centered">
                <h1 style="margin-right: 0.5vw">GIPHY</h1>
                <h3>Upload</h3>
            </div>
            <p class="containerText">Upload your collection to share on Facebook, Twitter, Instagram, text message, email, & everywhere else.</p>
        </div>
        <div class="containerCard">
            <div class="card">
                <h3 class="p1">GIF</h3>
                <p>Upload a GIF, MP4, MOV or WebM</p>
                <button class="cardButton">Choose File</button>
            </div>
            <div class="card">
                <h3 class="p1">Sticker</h3>
                <p>Upload a GIF whit transparency </p>
                <button class="cardButton">Choose File</button>
            </div>
        </div>
        <div class="cardInputContainer">
            <div class="cardInput">
                <h3>Any URL</h3>
                <p>We support media URLs from GIPHY, YouTube, Vimeo, & many others!</p>
                <input class="w100" type="text" placeholder="Enter any media or GIF URL">
            </div>
        </div>
        <div class="containerPolicy">
            <a href="#">Community Guidelines</a>
            <a href="#">Privacy Policy</a>
        </div>
    </div>
</div>