#searcher {
    display: block;
    align-items: center;
}

input {
    width: 95%;
    height: 4vh;
    margin-bottom: 1vh;
}

span {
    background-image: linear-gradient(to right, rgb(213, 115, 3), rgb(128, 0, 128));
    width: 4vw;
    height: 4.4vh;
    text-align: center;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    line-height: 0; 
}